body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

.chat-container {
    display: flex;
    justify-content: space-between;
    max-width: 1500px;
    min-height: 500px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 15px;
    overflow: hidden;
}

.chat{
    max-width: 50%;
    width: fit-content;
}

.user {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

h2 {
    font-size: 20px;
}

input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 16px;
}

button {
    padding: 10px;
    background-color: rgba(172, 162, 245, 0.99);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.chat {
    flex: 2;
    padding: 20px;
}

.chat-box {
    max-height: 600px;
    overflow-y: auto;
    padding: 30px;
}

.user.left {
    border-right: 3px solid #ccc;
}

.user.right {
    border-left: 3px solid #ccc;
}

.message1 {
    clear: both;
    margin-bottom: 10px;
    float: left;
    background-color: rgba(201,195,234,0.99) ;
    border-radius: 5px;
    overflow-wrap: break-word;
    max-width: 70%;
}

.message2 {
    clear: both;
    margin-bottom: 10px;
    float: right;
    background-color: rgba(201,195,234,0.99);
    border-radius: 5px;
    overflow-wrap: break-word;
    max-width: 70%;
}